@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    /*overflow: scroll;*/
}

body {
    /*height: 100vh;*/
    margin: 0;
    /*overflow: hidden;*/
    font-family: Roboto, sans-serif;
}

.webpage {
    display: flex;
    flex-direction: column;
}

.header-container {
    /*width: 800px;*/
    /*max-height: 150px;*/
    display: flex;
    flex: 0.8 1 auto;
    padding: 0 0 0 0;
    background-color: #20db92;
    flex-direction: row;
    justify-content: space-between;
}

.header-container .empty {
    display: flex;
    flex: 1 0 0;
    
    border: dashed black 4px;
}

.logo-container {
    display: flex;
    border: solid salmon 4px;
    flex-direction: row;
    justify-content: flex-start;
}

.logo-container, .header-links {
    flex: 9 1 0;
}

.header-logo {
    width: 100px;
    height: auto;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4em;
    border: solid pink 4px;
}

.container-1-navy {
    background-color: #20db92;
    display: flex;
    flex-direction: row;
}

.container-2-image-cards {
    display: flex;
    flex-direction: column;
}

.c2-c2-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
}

.card .card-caption {
    display: flex;
    font-size: 11px;
    text-align: justify;
}

/* Not sure whether to use this code or to code the image sizes in the HTML*/


.card img {
    width: auto;
    height: 64px;
    display: flex;
    flex: 0 1 auto;
}

.c1-item2-image {
    width: 256px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}